@charset "utf-8";
/* CSS Document */
/*移除網頁白邊*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}

/*移除 img 底部的空白*/
img{
	display: block;
	text-align: center;
}
.bg img{
	min-height: 100%;
	width: 100%
}
#wrapper{
	width: 100%;   /*設定寬度*/
	margin-left: auto;   /*設定margin左右為auto 所有元素置中*/
	margin-right: auto;
}

#top_left {
	position: absolute;
	right: 20px;
	top: 220px;
}
#top_left img{
	width: 500px;
	padding-bottom: 5px; 
}
#top_left #topics{
	width: 150px;
	 
}
#header #nav{
	background:rgba(0,0,0,0.8);height: 50px;
	width:100%;top:50px;z-index:600;min-width:1200px;
	position: fixed;
	display: flex;flex-wrap:nowrap;justify-content:center;align-items:center;}
ul {
	list-style-type: none;
}
#nav ul li a{
	color: #FFFFFF;
	text-decoration: none;
	transition:0.3s;       /*顯現時間*/
}
#nav a:hover{
	color: #DC6A21;
	/*filter:brightness(1.2)*/
}
#nav ul li{
	float: left;
	line-height: 50px;
	padding-left: 0px;
	position: relative;
	margin-left: 60px;
	margin-right: 50px;
}
#nav ul li:hover .owrap{
	display: block;
}
#nav ul li .owrap{
	position: absolute;
	display: none;
}
#nav ul li ul li{
	float: none;
	line-height: 50px;
	padding: 0px;
	background-color: rgba(0,0,0,0.75);
	width: 80px;
	margin-left: 0;
	/*border-bottom: 0.2px #FFFFFF solid; --- */
}
footer .newsWrap{width:100%;height: 40px;bottom:0px; display:block;flex-wrap:nowrap;justify-content:space-between;align-items:center;background:rgba(0,0,0,1);font-size:13px;height:50px;overflow:hidden;display:flex;flex-wrap:nowrap;color: aliceblue;line-height: 23px;}
.pagetop_btn{position:fixed;bottom:50px;right:20px;z-index:600}
