@charset "utf-8";
/* CSS Document */

.audiojs audio {
  display: block!important;
}
/*　プレイヤー（再生バー）　*/
.audiojs {
    display: block!important;
    height: 37px;
    width: 37px;
    background: none;
    overflow: hidden;
    font-family: monospace;
    font-size: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
/*　再生・停止ボタン　*/
.audiojs .play-pause {
    height: 37px;
    width: 37px;
    padding: 0;
    margin: 0;
    float: left;
    overflow: hidden;
    border: none;
}
/*　再生・停止ボタンなどの p 要素　*/
.audiojs p {
    display: none;
    height: 37px;
    width: 37px;
    margin: 0px;
    cursor: pointer;
}
.audiojs .play {
    display: block;
}
/*　進行状態・ロードの状態を表示する部分(グレー)　*/
.audiojs .scrubber {
    display: none;
}
/*　進行状態を表示するバーの部分(薄いグレー)　*/
.audiojs .progress {
    display: none;
}
/* ロード状態を表示するバーの部分（黒） */
.audiojs .loaded {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4px;
    width: 0px;
    background: #DDDDDD;/* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222),
  color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
  background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222
  100%); */
}
/*　現在の再生時間/総再生時間　フォント　*/
.audiojs .time {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0px 0px 0px 8px;
    padding: 0px 0px 0px 0px;
    border-left: none;
    color: #666;
    text-shadow: none;
    display: none;
}
/*　現在の再生時間　フォント　*/
.audiojs .time em {
    display: none;
}
/*　時間　/の部分　*/
.audiojs .time strong {
    display: none;
}
.audiojs .error-message {
    display: none;
}
.audiojs .error-message a {
    display: none;
}
/*　再生ボタン　*/
.audiojs .play {
    background: url(../images/chara/voice_btn.png) center center no-repeat;
    background-size: 37px 37px;
	transition: 0.3s ease-in-out;
}
.audiojs .play:hover {
  background-size: 37px 37px;
  filter: brightness(1.2);
}
/*　読み込み中ボタン　*/
.audiojs .loading {
    /*background: url("$1") center center no-repeat;*/
    display: none;
}
/*　エラーボタン　*/
.audiojs .error {
    /*background: url("$1") center center no-repeat;*/
    display: none;
}
/*　停止ボタン　*/
.audiojs .pause {
    background: url(../images/chara/voice_btn_on_stop.png) center center no-repeat;
    background-size: 37px 37px;
}

.playing .play, .playing .loading, .playing .error {
    display: none;
}
.playing .pause {
    display: block;
}
.loading .play, .loading .pause, .loading .error {
    display: none;
}
.loading .loading {
    display: block;
}
.error .time, .error .play, .error .pause, .error .scrubber, .error .loading {
    display: none;
}
.error .error {
    display: block;
}
.error .play-pause p {
    cursor: auto;
}
.error .error-message {
    display: block;
}
/*　再生している曲の情報　*/
.track-details {
    display: none;
}
.track-details:before {
    display: none;
}
